div#settings.layout
    nav.navbar-nav
        router-link.nav-item.nav-settings(:to=`{name: "main"}`)
            i.fa.fa-arrow-left
                
    header    
    main.container.mt-4
        .row.justify-content-center: .card.col-9: .card-body
            h3.text-center Настройки
                
            div.form-group
                span Путь к игре: 
                input.form-control(v-model="gamePath")
                button.btn.btn-primary(@click="setGamePath")
                    i.fa.fa-pencil
                    
            div
                button.btn.btn-primary(@click="save") Сохранить
